<!DOCTYPE html>
<html>
  <head>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">SkyboxSports <i class="icon-star icon-white"></i></a>
          <div class="nav-collapse collapse">
                <nav class="pull-right">
                  <% if user_signed_in? %>
                  <span class="label label-inverse">Signed in as <strong><em><%= current_user.email %></em></strong></span>
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-small btn-danger' %>
                <% else %>
                  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-small btn-success' %>
                  <%= link_to "Login", new_user_session_path, :class => 'btn btn-small' %>
                  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), :class => 'btn btn-small' %>
                <% end %>
                </nav>
            <ul class="nav" role="navigation">
              <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Athletes<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= athletes_path %>">All Athletes</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/athletes/position/QB">Quarterbacks</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/athletes/position/RB">Running Backs</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/athletes/position/WR">Wide Receivers</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/athletes/position/K">Kickers</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= proteams_path %>">Defense</a></li>
                </ul>
              <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Fantasy Teams<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= new_fantasyteam_path %>">Add New Team</a></li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= fantasyteams_path %>">All Fantasy Teams</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/fantasyteams/1">Team 1</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/fantasyteams/2">Team 2</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/fantasyteams/3">Team 3</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/fantasyteams/4">Team 4</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/fantasyteams/4">Team 5</a></li>
                </ul>
              <li><%= link_to "Features", features_path %></li>
              <li><%= link_to "About Us", "/welcome/aboutus" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="alert alert-<%= flash_class(level) %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[level] %>
        </div>
      <% end %>
    <% end %>
    <br />
    <%= yield %>
    <%= yield :javascript %>
    </div>

    <footer class="footer">
      <div class="container">
        <p>Crafted with love by <a href="https://twitter.com/mxstrand" target="_blank">@mxstrand</a>. Fork me at <a href="https://github.com/mxstrand" target="_blank">github</a>.</p>
      </div>
    </footer>
  </body>
</html>
